<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XRAY</title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/angular.min.js"></script>
    <script src="/index.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.borderless {
  background-color: initial !important;
}

.borderless td, .borderless th {
  padding: 2px !important;
  border: none !important;
}
</style>
  </head>
  <body>
    <div class="container-fluid" ng-app="XRAY" ng-controller="XRayController">

      <br/>
      <table class="table">
        <tr>
          <th width="5%">Domain</th>
          <td>{{ domain }}</td>
        </tr>
        <tr ng-hide="stats.Progress >= 100.0">
          <th>Speed</th>
          <td>{{ stats.Eps | number:1 }} req/s</td>
        </tr>
        <tr>
          <th>Results</th>
          <td>{{ ntargets }}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{ duration }}</td>
        </tr>
        <tr ng-hide="stats.Progress >= 100.0">
          <th>Progress</th>
          <td style="line-height: 0.8;">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ stats.Progress | number:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.Progress }}%;">
                {{ stats.Progress | number:2 }}%
              </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="input-group" style="width:100%">
              <label class="btn btn-default input-group-addon" id="basic-addon3">
                <input type="checkbox" id="show_empty" autocomplete="off" checked> Empty Rows
              </label>
              <input type="text" class="form-control" id="search" placeholder="Search ..." aria-describedby="basic-addon3">
            </div>

          </td>
        </tr> 
      </table>

      <table class="table table-striped">
        <thead>
          <tr>
            <th width="8%">Address</th>
            <th>Domains</th>
            <th width="10%">Ports</th>
            <th width="45%">Info</th>
            <th>CVE</th>
            <th>ISP</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="t in targets">
            <td>
              <a href="https://www.shodan.io/host/{{ t.Address }}" target="_blank">
                {{ t.Address }}
              </a>
              <span ng-if="t.Hostnames.length > 0">
                <small ng-repeat="h in t.Hostnames"><br/>{{ h + ($last ? '' : ', ') }}</small>
              </span>
            </td>
            
            <td>
              <span ng-repeat="domain in t.Domains">
                {{ domain + ($last ? '' : ', ') }}
                <span ng-if="t.History[domain].length > 0">
                  <a href="#table_{{ ( t.Address + domain ) | toid }}" class="htoggle">
                    <i class="fa fa-history" aria-hidden="true"></i>
                  </a>

                  <div id="table_{{ ( t.Address + domain ) | toid }}" style="display:none">
                    <br/>
                    Domain History
                    <table class="table table-striped">
                      <tr ng-repeat="h in t.History[domain]">
                        <td>{{ h.ip }}</td> 
                        <td>{{ h.location }}</td> 
                        <td>{{ h.owner }}</td> 
                        <td>{{ h.lastseen }}</td> 
                      </tr>
                    </table>
                  </div>
                </span>
              </span> 
            </td>

            <td>
              <span ng-repeat="port in t.Info.ports">{{ port + ($last ? '' : ', ') }}</span> 
            </td>
          
            <td>
          
              <table class="table borderless">
                <tr ng-repeat="(name,value) in t.Banners">
                  <td width="5%"><b>{{ name }}</b></td>
                  <td>{{ value }}</td>
                </tr>
              </table>
          
            </td>

            <td>
              <table class="table borderless">
                <tr ng-repeat="cveName in t.Info.vulns">
                  <td><a href="https://nvd.nist.gov/vuln/detail/{{cveName}}" target="_blank"> {{cveName}} </a></td>
                </tr>
              </table>
            </td>

            <td>{{ t.Info.isp }}</td>
            
            <td>{{ t.Info.country_name }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <footer>
      <center>
        <small>
          <a href="https://github.com/evilsocket/xray">XRAY</a> was made with <span style="color:red">♥</span> by
        <a href="https://www.evilsocket.net/" target="_blank" >Simone 'evilsocket' Margaritelli</a> 
        </small>
      </center>
    </footer>
  </body>
</html>
